body {
    background-color: rgb(221, 221, 221);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

html {
    font-size: clamp(12px,0.9vw,28px);
}

body {
    margin: 0;
    padding: 0;
}

.pageContainer {
    display: flex;
    min-width: 100vw;
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
}

#VideoMorpherHeader {
    cursor:pointer;
    margin: 5vh 2vw 0px;
    margin-bottom: 0;
    font-size: clamp(48px,6vw,64px);
    font-weight: 800;
    font-style: italic;
    color: black;
}

.VideoMorpherDescription{
    text-align: center;
    margin: 2vh 2vw;
    font-size: 1.5rem;
}

.uploadForm {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-evenly;
    align-items: center;
}

.chooseFileLabel {
    padding: 10px;
    background-color: #009688;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    flex-grow: 0;  
}


.videoPlayer {
    background-color: black;
    max-height: 40vh;
    max-width: 40vw;
    margin: auto auto;
}


.videoAndOperationContainer {
    width: 80vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

@media screen and (max-width: 767px) {
    .videoAndOperationContainer {
        flex-direction: column;
    }
}

.videoContainer {
    gap: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.operationSelectionContainer {
    min-height: 25vh;
    height: 40vh;
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
}

.OperationLegend {
    font-size: 1.25rem;
}

.operationRadioGroup {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
}

.operationRadioButton {
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
}

.operationRadioButton input {
    display: none;
}

.operationRadioLabel {
    cursor: pointer;
    padding: 10px;
    background-color: rgba(168, 168, 168, 0.685);
    color: white;
    border-radius: 5px;
    font-weight: 300;
}

.operationRadioButton input:checked+label {
    background-color: #009688;
    font-weight: 600;
    box-shadow: 0px 1px 5px rgb(65, 64, 64);
}


.formatSelect {
    font-size: 1em;
    padding: 10px 15px;
    width: 100px;
    color: white;
    background-color: #818181;
    border-radius: 5px;
    border: none;

}

.motionSliderInput {
    appearance: none;
    -webkit-appearance: none;
    width: 100%;
    height: 20px;
    background-color: transparent;
    border-radius: 5px;
    margin-bottom: 10px;
}


.motionSliderInput::-webkit-slider-runnable-track {
    height: 10px;
    background: #ccc;
    border-radius: 16px;
}

.motionSliderInput::-moz-range-track {
    height: 10px;
    background: #c5c9a5d0;
    border-radius: 16px;
}

.motionSliderInput::-webkit-slider-thumb {
    height: 20px;
    width: 10px;
    background-color: #009688;
    cursor: pointer;
    border: none;
}

.motionSliderInput::-moz-range-thumb {
    height: 20px;
    width: 10px;
    background-color: #009688;
    border: none;
    cursor: pointer;
}


.operationInput {
    position: relative;
}

.speedRangeIndicator {
    position: absolute;
    font-size: 0.65em;
    top: 20px;
    color: rgb(0, 0, 0);
    padding: 5px;
    border-radius: 4px;
    text-align: center;
}

.formButton {
    font-size: 1.2em;
    padding: 10px;
    background-color: #009688;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    font-weight: 600;
    margin-bottom: 20px;
}

.formButton:hover {
    box-shadow: 0px 1px 5px rgb(65, 64, 64);
}

.progressContainer {
    appearance: none;
    position: relative;
    min-width: 300px;
    width: 50%;
    background-color: rgba(173, 173, 173, 0.61);
    border-radius: 20px;
    height: 30px;
    display: none;
}

#progressTracker {
    appearance: none;
    border: none;
    border-radius: 20px;
    width: 0%;
    height: 30px;
    color: white;
    text-align: center;
    transition: width 0.1s linear;
}

#progressTracker::-moz-progress-bar {
    background-color: #009688;
}

#progressTracker::-webkit-progress-bar {
    background-color: #009688;
}

#progressLabel {
    position: relative;
    display: block;
    width: fit-content;
    left: 0%;
    transition: left 0.1s linear;
}

#downloadFile {
    margin-bottom: auto;
}

#downloadFile a{
    color: white;
    font-weight: 600;
    text-decoration-line:none;
    margin-bottom: auto;
}

#pastDownloadsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pastDownloadList{
    padding: 0;
    list-style-type: none;
    margin: 0;
}

.pastDownloadList li a{
    border-radius: 5px;
    padding: 10px;
    background-color: #ffffff96;
    text-decoration-line: underline;
    margin-bottom: 10px;
}

.pastDownloadList li a:hover {
    box-shadow: 0px 0px 3px rgb(65, 64, 64);
    cursor: pointer;
}


.pastDownloadList li:last-child {
    margin-bottom: 0;
}